nepali_datetime
pyBSDate==0.3.1
python-dotenv
tomli
pandas
pyyaml
SQLAlchemy
pyodbc
openpyxl
xlrd
requests
pytest
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpretty
pytest-mock
coloredlogs